<h1>Nueva Factura </h1>

<%= form_for @factura, :html => {:class => "form-horizontal center col-md-6"} do |f| %>
    <div class="form-group">
        <%= f.label :Folio, "Folio", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :folio, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :fecha, "Fecha", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :fecha, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :empresa, "Objeto", class: "col-md-4 control-label" %>
            <div class="col-md-8">
            </div>
    </div>
    <div class="form-group">
        <%= f.label :tipo_comprobante, "Tipo de Comprobante", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :tipo_comprobante, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :lugar_expedicion, "Lugar de Expedicion", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :lugar_expedicion, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :forma_pago, "Forma de Pago", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :forma_pago, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :forma_pago, "Forma de Pago", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :forma_pago, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :metodo_pago, "Metodo de Pago", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :metodo_pago, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :moneda, "Moneda", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :moneda, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :tipo_cambio, "Tipo de cambio", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :tipo_cambio, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :subtotal, "Subtotal", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :subtotal, class: "form-control" %>
            </div>
    </div>
    <div class="form-group">
        <%= f.label :total, "Total", class: "col-md-4 control-label" %>
            <div class="col-md-8">
                <%= f.text_field :total, class: "form-control" %>
            </div>
    </div>


    <%= f.submit "Guardar ", class: "btn btn-default btn-primary " %>

        <% end %>
            <br>
            <br>
            <%= link_to  "Regresar", root_path, class:'btn btn-md btn-success col-md-1' %>




<!-- json = '{"meta":
 {"empresa_uid":"asd123asd",
 "empresa_api_key":"123123123",
 "ambiente":"S",
 "objeto":"factura"},
 
 "data":[{"datos_fiscales":{
     "certificado_pem":"",
     "llave_pem":"",
     "llave_password":""},
     
     "cfdi":{"cfdi__comprobante":{
         "folio":"123",
         "fecha":"2018-03-25T12:12:12",
         "tipo_comprobante":"I",
         "lugar_expedicion":"21100",
         "forma_pago":"01",
         "metodo_pago":"PUE",
         "moneda":"MXN",
         "tipo_cambio":"1",
         "subtotal":"99.00",
         "total":"99.00",

         "cfdi__emisor":{
             "rfc":"DDM090629R13",
             "nombre":"Emisor Test",
             "regimen_fiscal":"601"},

             "cfdi__receptor":{
                 "rfc":"XEXX010101000",
                 "nombre":"Receptor Test",
                 "uso_cfdi":"G01"},

                 "cfdi__conceptos":{"cfdi__concepto":[{
                     "clave_producto_servicio":"01010101",
                     "clave_unidad":"KGM",
                     "cantidad":"1",
                     "descripcion":"descripcion test",
                     "valor_unitario":"99.00",
                     "importe":"99.00",
                     "unidad":"unidad",
                     "no_identificacion":"KGM123",

                        "cfdi__impuestos":{"cfdi__traslados":{"cfdi__traslado":[{
                            "base":"99.00",
                            "impuesto":"002",
                            "tipo_factor":"Exento"}]}}}]}}}}]}'; -->